Repository exciting-transcendence/transcendence, pull requests merged in 2022-08, with the labels that each got.

#56 Profile, 친구 탭 합치기
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/Friend.tsx
  frontend/app/src/FriendList.tsx
  frontend/app/src/FriendView.tsx
  frontend/app/src/components/index.ts
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/components/profile/Profile.stories.tsx
  frontend/app/src/components/profile/Profile.tsx
  frontend/app/src/components/profile/ProfileListItem.stories.tsx
  frontend/app/src/components/profile/ProfileListItem.tsx
  frontend/app/src/components/profile/index.ts
  frontend/app/src/components/profile/userActions.tsx
  frontend/app/src/components/utils/IconButtonWrap.stories.tsx
  frontend/app/src/components/utils/IconButtonWrap.tsx
  frontend/app/src/components/utils/UserStatus.stories.tsx
  frontend/app/src/components/utils/UserStatus.tsx
  frontend/app/src/components/utils/index.ts
  frontend/app/src/mock/mockUser.ts
  frontend/app/src/router/Login.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/router/Nav.tsx
  frontend/app/src/router/index.ts
  frontend/app/src/view/FriendView.tsx
  frontend/app/src/view/GameGrid.tsx
  frontend/app/src/view/GameList.tsx
  frontend/app/src/view/GameOption.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/Pong.tsx
  frontend/app/src/view/UserSet.tsx
  frontend/app/src/view/index.ts
Labels: 프론트엔드

#59 프로젝트 보드 워크플로우 문제 해결
  .github/workflows/project_board.yml
Labels: ci

#60 feat: 아바타 업로드, 다운로드 기능 추가
  backend/app/package-lock.json
  backend/app/package.json
  backend/app/src/app.module.ts
  backend/app/src/auth/ft/jwt-ft.strategy.ts
  backend/app/src/avatar/avatar.controller.ts
  backend/app/src/avatar/avatar.module.ts
  backend/app/src/avatar/avatar.options.ts
Labels: 백엔드

#61 Login
  backend/app/src/app.controller.ts
  backend/app/src/auth/auth.controller.ts
  backend/app/src/auth/ft/ft-oauth.service.ts
  backend/app/src/pong/match.service.ts
  backend/app/src/user/user.controller.ts
  backend/app/src/user/user.entity.ts
  backend/app/src/user/user.module.ts
  backend/app/src/user/user.service.ts
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/router/Login.tsx
  frontend/app/src/view/RegisterUser.tsx
  frontend/app/src/view/UserSet.tsx
  frontend/app/src/view/twoFactor.tsx
Labels: 프론트엔드, 백엔드

#64 아바타 이미지 업로드 기능 추가
  backend/app/src/avatar/avatar.controller.ts
  frontend/app/src/view/RegisterUser.tsx
Labels: 프론트엔드, 백엔드

#67 feat: avatar 의 file 값이 이상하게 들어왔을때 error 처리
  backend/app/src/avatar/avatar.controller.ts
Labels: 백엔드

#62 Chat api
  backend/app/package-lock.json
  backend/app/package.json
  backend/app/src/chat/chat.dto.ts
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.module.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
  backend/app/src/chat/tmp_index.html
  backend/app/src/configs/chat-event.constants.ts
  backend/app/src/main.ts
  backend/app/src/user/user.service.ts
  backend/app/src/utils/setupAsyncApi.ts
  backend/app/src/utils/setupSwagger.ts
Labels: 백엔드

#68 Pong프론트엔드측 구현 추가 (진행중)
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/app/package.json
  backend/app/src/avatar/avatar.controller.ts
  backend/app/src/pong/match.gateway.ts
  backend/app/src/user/user.controller.ts
  backend/app/src/user/user.service.ts
  backend/avatar/default.jpg
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/router/Login.tsx
  frontend/app/src/view/GameGrid.tsx
  frontend/app/src/view/GameOption.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/Pong.tsx
  frontend/app/src/view/RegisterUser.tsx
  frontend/app/src/view/twoFactor.tsx
Labels: 프론트엔드, 백엔드, ci

#69 User entitiy
  backend/app/src/auth/two-factor.service.ts
  backend/app/src/configs/typeorm.config.ts
  backend/app/src/user/stat.entity.ts
  backend/app/src/user/status.enum.ts
  backend/app/src/user/user.controller.ts
  backend/app/src/user/user.entity.ts
  backend/app/src/user/user.module.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#72 feat: FindUserDto 추가, friend와 block 추가 제거 api 생성, 임시 match entity 추가, user api 임시 문서화
  backend/app/src/configs/typeorm.config.ts
  backend/app/src/dto/findUser.dto.ts
  backend/app/src/dto/stat.dto.ts
  backend/app/src/pong/match.entity.ts
  backend/app/src/pong/match.service.ts
  backend/app/src/pong/pong.module.ts
  backend/app/src/user/user.controller.ts
  backend/app/src/user/user.module.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#73 feat: 프랜드 탭 및 프로필 프런트엔드 수정
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/components/profile/Profile.stories.tsx
  frontend/app/src/components/profile/Profile.tsx
  frontend/app/src/components/profile/ProfileListItem.tsx
  frontend/app/src/components/utils/UserStatus.stories.tsx
  frontend/app/src/components/utils/UserStatus.tsx
  frontend/app/src/data/User.dto.ts
  frontend/app/src/mock/mockUser.ts
  frontend/app/src/view/FriendView.tsx
Labels: 프론트엔드

#74 style: 백엔드 포멧팅
  backend/app/src/dto/findUser.dto.ts
  backend/app/src/pong/match.service.ts
  backend/app/src/pong/pong.module.ts
  backend/app/src/user/stat.entity.ts
  backend/app/src/user/status.enum.ts
  backend/app/src/user/user.controller.ts
  backend/app/src/user/user.entity.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#75 feat: 채팅방 admin 추가/삭제
  backend/app/src/chat/chat.dto.ts
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
  backend/app/src/configs/chat-event.constants.ts
Labels: 백엔드

#78 자바스크립트 객체 key/value값 잘못 사용한것 수정
  backend/app/src/configs/chat-event.constants.ts
Labels: 백엔드

#79 fix: 토큰 검증 실패시 소켓 연결 종료
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#81 프론트엔드 스토리북 및 테스트 준비
  .github/labeler.yml
  .gitignore
  README.md
  backend/.dockerignore
  backend/.vscode/settings.json
  docker-compose.dev.yml
  frontend/.dockerignore
  frontend/.vscode/settings.json
  frontend/Dockerfile.dev.storybook
  frontend/app/package.json
  install.sh
  npm.sh
  reverse_proxy/nginx.conf
  transcendence.code-workspace
Labels: 프론트엔드, ci

#82 chat entity 추가 및 chat.service 수정
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.module.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/chatroom.entity.ts
  backend/app/src/chat/chatuser.entity.ts
  backend/app/src/chat/roomtype.enum.ts
  backend/app/src/configs/typeorm.config.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#83 feat: password 암호화 및 find 에러 throw 부분 수정
  backend/app/package-lock.json
  backend/app/package.json
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/chatuser.entity.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#84 fix: compile error
  backend/app/src/chat/chat.service.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#86 Pong 디테일 개선
  backend/app/src/configs/pong.config.ts
  backend/app/src/pong/match.service.ts
  backend/app/src/pong/pong.service.ts
  backend/app/src/user/user.controller.ts
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/hook/useAuthSocket.ts
  frontend/app/src/index.tsx
  frontend/app/src/state/auth.ts
  frontend/app/src/state/pong.ts
  frontend/app/src/state/user.ts
  frontend/app/src/style/Pong.css
  frontend/app/src/view/GameOption.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/Pong.tsx
Labels: 프론트엔드, 백엔드

#88 닉네임 중복 체크 에러처리 및 chat_service api 추가
  backend/.DS_Store
  backend/app/package-lock.json
  backend/app/package.json
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#91 Pong 게임 결과를 저장
  backend/app/package-lock.json
  backend/app/package.json
  backend/app/src/configs/pong.config.ts
  backend/app/src/pong/match.gateway.ts
  backend/app/src/pong/match.service.ts
  backend/app/src/pong/pong.module.ts
  backend/app/src/pong/pong.service.ts
  backend/app/src/user/stat.entity.ts
  backend/app/src/user/user.controller.ts
  backend/app/src/user/user.module.ts
  backend/app/src/user/user.service.ts
  frontend/app/src/state/pong.ts
  frontend/app/src/view/Pong.tsx
Labels: 프론트엔드, 백엔드

#94 feat: 리코일 코드를 전부 커스텀 훅으로 변경
  frontend/app/src/hook/useAuthSocket.ts
  frontend/app/src/hook/useUser.ts
  frontend/app/src/state/auth.ts
  frontend/app/src/state/pong.ts
  frontend/app/src/state/user.ts
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/Pong.tsx
Labels: 프론트엔드

#97 feat: 재미를 위해서 다양한 기능 추가
  backend/app/src/configs/pong.config.ts
  backend/app/src/pong/match.gateway.ts
  backend/app/src/pong/match.service.ts
  backend/app/src/pong/pong.service.ts
  frontend/app/src/view/GameOption.tsx
  frontend/app/src/view/Pong.tsx
Labels: 프론트엔드, 백엔드

#93 http api 사용, 친구, 프로필 정리
  .github/labeler.yml
  .gitignore
  backend/.DS_Store
  frontend/Dockerfile.dev.storybook
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/components/profile/Profile.stories.tsx
  frontend/app/src/components/profile/Profile.tsx
  frontend/app/src/components/profile/ProfileListItem.tsx
  frontend/app/src/components/profile/userActions.tsx
  frontend/app/src/components/utils/UserStatus.tsx
  frontend/app/src/components/utils/VerticalDivider.stories.tsx
  frontend/app/src/components/utils/VerticalDivider.tsx
  frontend/app/src/components/utils/index.ts
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/data/index.ts
  frontend/app/src/mock/mockUser.ts
  frontend/app/src/router/Main.tsx
  frontend/app/src/router/Nav.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/FriendView.tsx
  frontend/app/src/view/ProfileView.tsx
  frontend/app/src/view/index.ts
Labels: 프론트엔드, ci

#98 recoil 제거, 친구와 프로필 탭에서 커스텀 훅 사용
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/hook/useUser.ts
  frontend/app/src/index.tsx
  frontend/app/src/view/FriendView.tsx
  frontend/app/src/view/ProfileView.tsx
Labels: 프론트엔드

#102 서비스 다운 시 자동 재시작
  .github/workflows/project_board.yml
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/rooms.controller.ts
  backend/app/src/dto/chat.dto.ts
  docker-compose.dev.yml
Labels: 백엔드, ci

#104 fix: select query name fix (type -> roomtype)
  backend/app/package-lock.json
  backend/app/package.json
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#106 fix: issue #99
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#107 class validation 추가 dto 분할 및 추가
  backend/app/src/auth/auth.controller.ts
  backend/app/src/auth/ft/ft.controller.ts
  backend/app/src/avatar/avatar.controller.ts
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/rooms.controller.ts
  backend/app/src/dto/chat.dto.ts
  backend/app/src/dto/chatMessage.dto.ts
  backend/app/src/dto/chatRoom.dto.ts
  backend/app/src/dto/chatRoomStatus.dto.ts
  backend/app/src/dto/checkInput.dto.ts
  backend/app/src/dto/fileName.dto.ts
  backend/app/src/dto/findInput.dto.ts
  backend/app/src/dto/registerUser.dto.ts
  backend/app/src/dto/userInRoom.dto.ts
  backend/app/src/dto/verifyToken.dto.ts
  backend/app/src/main.ts
  backend/app/src/user/user.controller.ts
Labels: 백엔드

#110 user.service.ts의 import 오타 수정
  backend/app/src/user/user.service.ts
Labels: 백엔드

#105 채팅 컴포넌트 작성
  frontend/.vscode/launch.json
  frontend/app/src/App.test.tsx
  frontend/app/src/components/chat/ChatList.stories.tsx
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/components/chat/ChatListItem.stories.tsx
  frontend/app/src/components/chat/ChatListItem.tsx
  frontend/app/src/components/profile/Profile.tsx
  frontend/app/src/components/profile/ProfileListItem.tsx
  frontend/app/src/components/utils/AvatarWithStatus.tsx
  frontend/app/src/components/utils/index.ts
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/utility/groupBySerial.test.ts
  frontend/app/src/utility/groupBySerial.ts
Labels: 프론트엔드, 테스트

#87 채팅 컴포넌트 백엔드 연결 테스트 중
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatList.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/CreateRoomModal.tsx
  frontend/app/src/view/JoinedRoomList.tsx
Labels: 프론트엔드

#116 Message dto에 createdAt 항목 추가
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/dto/chatMessage.dto.ts
  backend/app/src/user/user.service.ts
  frontend/app/src/components/chat/ChatList.stories.tsx
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/data/Chat.dto.ts
  reverse_proxy/nginx.conf
Labels: 프론트엔드, 백엔드, 테스트

#119 개발 서버 올리는 속도 개선
  backend/.dockerignore
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/app/src/avatar/avatar.controller.ts
  backend/app/src/dto/registerUser.dto.ts
  docker-compose.dev.yml
  frontend/Dockerfile.dev
  frontend/app/package.json
Labels: 프론트엔드, 백엔드, ci

#118 접속중인 사용자 목록 표시
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/components/chat/ChatListItem.tsx
  frontend/app/src/components/chat/MemberList.stories.tsx
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/components/profile/ProfileDisplay.tsx
  frontend/app/src/components/profile/index.ts
  frontend/app/src/hook/index.ts
  frontend/app/src/hook/useToggles.test.tsx
  frontend/app/src/hook/useToggles.ts
  frontend/app/src/utility/index.ts
  frontend/app/src/utility/partition.test.ts
  frontend/app/src/utility/partition.ts
  frontend/app/src/view/FriendView.tsx
Labels: 프론트엔드, 테스트

#120 feat: avatar change 추가 및 몇가지 사소한 수정
  .env.sample
  backend/app/src/avatar/avatar.controller.ts
  backend/app/src/avatar/avatar.module.ts
  backend/app/src/dto/registerUser.dto.ts
  backend/app/src/user/user.service.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
Labels: 백엔드, ci

#125 roomType, password 추가, 웹소켓API 문서화
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
  backend/app/src/dto/chatMessage.dto.ts
  backend/app/src/dto/chatRoom.dto.ts
  backend/app/src/dto/chatRoomStatus.dto.ts
Labels: 백엔드

#121 Public Chat 뼈대 구현
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatRoomList.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/JoinedRoomList.tsx
  frontend/app/src/view/RegisterUser.tsx
Labels: 프론트엔드

#127 닉네임 변경, 아바타 생성
  backend/app/src/dto/changeNickname.dto.ts
  backend/app/src/user/user.controller.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#131 아바타 이미지 인증 과정 추가
  backend/app/src/avatar/avatar.controller.ts
  frontend/app/src/components/utils/AvatarWithStatus.tsx
  frontend/app/src/hook/useAvatar.ts
  frontend/app/src/view/ChatRoomList.tsx
  frontend/app/src/view/RegisterUser.tsx
Labels: 프론트엔드, 백엔드

#133 웹소켓에서 class-validator 적용
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/dto/chatCreateRoom.dto.ts
  backend/app/src/dto/chatJoinRoom.dto.ts
  backend/app/src/utils/WSValidationPipe.ts
  frontend/app/src/view/CreateRoomModal.tsx
Labels: 프론트엔드, 백엔드

#134 feat: 관전 기능 구현
  backend/app/src/pong/match.gateway.ts
  backend/app/src/pong/pong.service.ts
  backend/app/src/user/user.controller.ts
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/components/profile/userActions.tsx
  frontend/app/src/hook/usePongSocket.ts
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/Pong.tsx
  frontend/app/src/view/RegisterUser.tsx
Labels: 프론트엔드, 백엔드

#139 메시지 전송 버튼 추가
  frontend/app/src/components/chat/ChatInput.stories.tsx
  frontend/app/src/components/chat/ChatInput.tsx
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatView.tsx
Labels: 프론트엔드, 테스트

#146 친구추가 및 삭제, 차단 및 차단 해제 구현
  README.md
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/hook/useAuthHeader.ts
Labels: 프론트엔드

#149 필수가 아닌 필드의 유효성체크, 채팅방 이름 길이제한
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/dto/chatCreateRoom.dto.ts
  backend/app/src/dto/chatJoinRoom.dto.ts
  backend/app/src/dto/chatMessage.dto.ts
Labels: 백엔드

#150 ChatPanel 컴포넌트
  frontend/app/package.json
  frontend/app/src/components/chat/ChatInput.stories.tsx
  frontend/app/src/components/chat/ChatInput.tsx
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/components/chat/index.ts
  frontend/app/src/components/index.ts
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/hook/useAuthHeader.ts
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatRoomList.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/CreateRoomModal.tsx
  frontend/app/src/view/GameGrid.tsx
  frontend/app/src/view/GameList.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/JoinedRoomList.tsx
  frontend/app/src/view/twoFactor.tsx
Labels: 프론트엔드, 테스트

#151 친구 목록 가져오기 api 추가, 채팅방 비밀번호 수정 삭제 추가, 채팅방 블록 추가
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/chatroom.entity.ts
  backend/app/src/chat/chatuser.entity.ts
  backend/app/src/user/user.controller.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#153 feat: 채팅방 페스워드 생성 및 unban 추가
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#152 친구 목록만 표시
  frontend/app/src/view/FriendView.tsx
Labels: 프론트엔드

#155 fix: PUT 요청이 2번 왔을때 예외처리
  backend/app/src/auth/two-factor.service.ts
  frontend/app/src/router/Login.tsx
  frontend/app/src/view/twoFactor.tsx
Labels: 프론트엔드, 백엔드

#156 feat: 유저의 현재 상태 업데이트
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/pong/pong.service.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#162 feat: 유저가 조인할 수 있는 방만 보이는 api 추가
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
Labels: 백엔드

#164 모든 소켓이벤트에 status 응답
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#160 비번방 구현 및 비번모달창 추가
  frontend/app/src/components/chat/ChatList.stories.tsx
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/view/ChatRoomList.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/CreateRoomModal.tsx
  frontend/app/src/view/EnterPwdModal.tsx
  frontend/app/src/view/FriendView.tsx
Labels: 프론트엔드, 테스트

#167 채팅방 나가는 함수 변경, 실시간 화면 변경
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatView.tsx
Labels: 프론트엔드, 테스트

#166 feat: sender를 블록하지 않은 모든 사람에게 메시지 전송
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#168 비공개 방의 경우 유저 초대할 수 있는 기능 추가
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatRoomList.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/InviteUser.tsx
  frontend/app/src/view/JoinedRoomList.tsx
  frontend/app/src/view/RegisterUser.tsx
Labels: 프론트엔드

#175 ChatView 정리
  frontend/app/.eslintrc.yml
  frontend/app/src/components/chat/ChatInput.tsx
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/hook/index.ts
  frontend/app/src/hook/useApiQuery.ts
  frontend/app/src/hook/useAuthSocket.ts
  frontend/app/src/hook/useChatSocket.tsx
  frontend/app/src/hook/useUserMutation.ts
  frontend/app/src/hook/useUserQuery.ts
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatRoomList.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/CreateRoomModal.tsx
  frontend/app/src/view/FindFriendView.tsx
  frontend/app/src/view/FriendView.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/MemberView.tsx
  frontend/app/src/view/Pong.tsx
  frontend/app/src/view/ProfileView.tsx
Labels: 프론트엔드

#172 feat: 채팅방의 유저 리스트 추가
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
Labels: 백엔드

#171 feat: 채팅방 owner가 나가면 DESTROYED이벤트 전송
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/configs/chat-event.constants.ts
Labels: 백엔드

#179 문서화 및 채팅방 id로 채탕방의 유저 목록을 가져오는 API 수정
  backend/app/src/avatar/avatar.controller.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
Labels: 백엔드

#180 fix: db 와 문서화 type error 수정
  backend/app/src/avatar/avatar.controller.ts
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#181 Joinlist 버그 수정
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#182 퐁 게임에서 프로필이 무한 렌더링되는 현상 수정
  dc.sh
  frontend/app/src/hook/useAvatar.ts
  frontend/app/src/hook/useUserQuery.ts
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/Pong.tsx
Labels: 프론트엔드

#186 leave destroy 수정
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/roomtype.enum.ts
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/hook/useChatSocket.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/CreateRoomModal.tsx
Labels: 프론트엔드, 백엔드

#189 레지스터할때 더미 이름 충돌 해결
  backend/app/src/user/user.service.ts
Labels: 백엔드

#190 use 훅이 최상단이 아니던 문제 수정
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/components/profile/ProfileListItem.tsx
  frontend/app/src/data/User.dto.ts
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/MemberView.tsx
Labels: 프론트엔드

#184 feat: 전체 매치 히스토리 및 특정 유저 매치 히스토리 find api 추가
  backend/app/src/dto/uid.dto.ts
  backend/app/src/pong/match.controller.ts
  backend/app/src/pong/match.entity.ts
  backend/app/src/pong/match.service.ts
  backend/app/src/pong/pong.module.ts
  backend/app/src/user/user.controller.ts
Labels: 백엔드

#183 feat: 채팅방 비밀번호 추가,변경,삭제
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/roomPasswordCommand.enum.ts
  backend/app/src/configs/chat-event.constants.ts
  backend/app/src/dto/chatRoomPassword.dto.ts
Labels: 백엔드

#193 채팅방에 접속중인 사용자만 표시
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/MemberView.tsx
Labels: 프론트엔드

#192 초대 API
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/configs/chat-event.constants.ts
  backend/app/src/dto/chatInvite.dto.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#197 fix: 오류수정(#192)
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#195 매치 도중에 취소할 수 있는 기능 추가
  backend/app/src/pong/match.gateway.ts
  frontend/app/src/view/GameView.tsx
Labels: 프론트엔드, 백엔드

#194 퐁 성능 최적화
  frontend/app/src/view/Pong.tsx
Labels: 프론트엔드

#199 fix: addBannedUser 및 몇가지 함수 잘못된 쿼리 수정
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#196 친구탭, 프로필, 검색창 합치기
  frontend/app/src/components/profile/ProfileDisplay.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/router/Nav.tsx
  frontend/app/src/view/FindFriendView.tsx
  frontend/app/src/view/FriendView.tsx
  frontend/app/src/view/UsersPanel.tsx
  frontend/app/src/view/index.ts
Labels: 프론트엔드

#203 feat: 매칭 대기 화면 개선
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/MatchingView.tsx
Labels: 프론트엔드

#202 docs: 비어 있던 api documentation 추가
  backend/app/nest-cli.json
  backend/app/src/chat/chatuser.entity.ts
  backend/app/src/dto/changeNickname.dto.ts
  backend/app/src/dto/checkInput.dto.ts
  backend/app/src/dto/fileName.dto.ts
  backend/app/src/dto/findInput.dto.ts
  backend/app/src/dto/findUser.dto.ts
  backend/app/src/dto/registerUser.dto.ts
  backend/app/src/dto/stat.dto.ts
  backend/app/src/dto/uid.dto.ts
  backend/app/src/dto/verifyToken.dto.ts
  backend/app/src/pong/match.entity.ts
  backend/app/src/user/user.entity.ts
Labels: 백엔드, 문서화

#206 fix: is...() 함수에서 db에 존재하지 않으면 throw를 날리는 것을 return false 로 수정
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#205 test: test 용 access_token 발급 api 추가
  backend/app/src/auth/auth.controller.ts
Labels: 백엔드

#207 fix: test api endpoint 수정
  backend/app/src/auth/auth.controller.ts
Labels: 백엔드

#209 feat: 채팅방에서 유저 ban / unban api
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/configs/chat-event.constants.ts
  backend/app/src/dto/userInRoom.dto.ts
Labels: 백엔드

#204 INVITE chat dto 수정 및 공개방 비번방 비밀번호 설정 버튼 추가
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/InviteUser.tsx
  frontend/app/src/view/PwdSetModal.tsx
Labels: 프론트엔드

#208 docs: auth 와 2fa 와 2개의 dto 문서화
  backend/app/src/auth/auth.controller.ts
  backend/app/src/auth/ft/ft.controller.ts
  backend/app/src/dto/chatMessage.dto.ts
  backend/app/src/dto/findUser.dto.ts
  backend/app/src/dto/stat.dto.ts
Labels: 백엔드, 문서화

#210 fix: 초대받은 사람이 NOTICE 받지 못함
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#211 fix: 채팅에서 새로고침 시 에러 해결
  frontend/app/src/hook/useChatSocket.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatView.tsx
Labels: 프론트엔드

#219 fix: 대상이 채팅방 오너인지 똑바로 체크
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#220 feat: DM 초대 api
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/configs/chat-event.constants.ts
  backend/app/src/dto/chatInviteDM.dto.ts
Labels: 백엔드

#221 fix: addBanned & deleteBanned 수정
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/chatroom.entity.ts
  backend/app/src/chat/chatuser.entity.ts
Labels: 백엔드

#223 feat: 채팅방 mute, unmute api
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/configs/chat-event.constants.ts
  backend/app/src/dto/chatMuteUser.dto.ts
Labels: 백엔드

#224 Chat fix
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#216 feat: DM 버튼, 닉네임/아바타 변경 모달, 채팅방 사용자 목록 수정
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/components/profile/Profile.tsx
  frontend/app/src/components/profile/ProfileDisplay.tsx
  frontend/app/src/components/profile/userActions.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/data/User.dto.ts
  frontend/app/src/hook/useUserMutation.ts
  frontend/app/src/utility/index.ts
  frontend/app/src/utility/strtrim.test.ts
  frontend/app/src/utility/strtrim.ts
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/MemberView.tsx
  frontend/app/src/view/UsersPanel.tsx
Labels: 프론트엔드, 테스트

#229 채팅방에서 유저 클릭시 나오는 프로필에서 버튼 추가
  frontend/app/src/components/chat/MemberList.stories.tsx
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/view/CreateRoomModal.tsx
  frontend/app/src/view/MemberListOption.tsx
  frontend/app/src/view/MemberView.tsx
Labels: 프론트엔드, 테스트

#234 feat: 방 유저들의 정보를 가져오는 api 유저 정보에 endofmute 추가
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#233 feat: 뮤트,언뮤트, 관리자 추가,삭제시 모든 참여자에게 CHATUSER_STATUS 이벤트 전송
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chatuserEvent.enum.ts
  backend/app/src/configs/chat-event.constants.ts
  backend/app/src/dto/chatuserStatusChanged.dto.ts
Labels: 백엔드

#236 퐁 성능 문제 개선
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/pong/match.gateway.ts
  frontend/app/src/hook/useAuthSocket.ts
  frontend/app/src/hook/usePongSocket.ts
Labels: 프론트엔드, 백엔드

#238 build: 패키지 취약성 수정
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: 프론트엔드

#232 관리자지정, 뮤트 기능 작성
  frontend/app/src/components/chat/ChatInput.tsx
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/MemberListOption.tsx
  frontend/app/src/view/MemberView.tsx
Labels: 프론트엔드

#240 fix: Avatar 렌더링 안 되던 문제 수정
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/hook/index.ts
  frontend/app/src/hook/queryClient.ts
  frontend/app/src/hook/useApiQuery.ts
  frontend/app/src/hook/useUserQuery.ts
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/FriendView.tsx
  frontend/app/src/view/MemberView.tsx
  frontend/app/src/view/Pong.tsx
  frontend/app/src/view/ProfileView.tsx
Labels: 프론트엔드

#243 fix: websocket 테스트 클라이언트 사용을 위해 임시로 cors 허용
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/pong/match.gateway.ts
Labels: 백엔드

#244 feat: 매치 히스토리 추가
  frontend/app/src/view/GameGrid.tsx
  frontend/app/src/view/GameList.tsx
  frontend/app/src/view/MatchHistory.tsx
Labels: 프론트엔드

#245 feat: DM버튼 제?거
  frontend/app/src/components/profile/OtherProfile.tsx
Labels: 프론트엔드

#247 feat: dm 채팅방 찾기 추가
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#251 feat: 게임 옵션 선택창 개선
  frontend/app/src/view/GameOption.tsx
Labels: 프론트엔드

#250 fix: DM방 타이틀 서버에서 생성, DM방 존재하면 새로 만들지 않음
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#241 feat: 벤 방식을 뮤트와 동일하게 수정
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/chatuser.entity.ts
Labels: 백엔드

#253 Revert "Admin"
  backend/app/package-lock.json
  backend/app/package.json
  backend/app/src/auth/ft/ft-user.entity.ts
  backend/app/src/auth/two-factor.entity.ts
  backend/app/src/chat/chatroom.entity.ts
  backend/app/src/chat/chatuser.entity.ts
  backend/app/src/configs/setup.admin.ts
  backend/app/src/main.ts
  backend/app/src/pong/match.entity.ts
  backend/app/src/user/stat.entity.ts
  backend/app/src/user/user.entity.ts
  reverse_proxy/nginx.conf
Labels: 백엔드

#256 fix: ban을 mute와 같은 형식으로
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/dto/chatBanUser.dto.ts
Labels: 백엔드

#254 feat: createdm
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#252 밴, 뮤트, 관리자 추가 기능 추가
  backend/app/src/chat/chat.gateway.ts
  frontend/app/src/components/chat/ChatInput.tsx
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatRoomList.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/EnterPwdModal.tsx
  frontend/app/src/view/MemberListOption.tsx
  frontend/app/src/view/MemberView.tsx
Labels: 프론트엔드, 백엔드

#260 밴 기능 추가 및 참여중인 채팅방 실시간연동 코드 수정
  docker-compose.dev.yml
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/MemberListOption.tsx
  reverse_proxy/nginx.conf
Labels: 프론트엔드, ci

#259 docs: 잘못된 설명 수정
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/utils/setupAsyncApi.ts
Labels: 백엔드

#263 feat: 간단한 DM 추가 버튼
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/hook/useUserMutation.ts
Labels: 프론트엔드

#264 채팅방 접속 인원 미리보기
  frontend/app/.eslintrc.yml
  frontend/app/src/components/profile/OtherProfile.tsx
  frontend/app/src/view/JoinedRoomList.tsx
Labels: 프론트엔드

#265 fix: DM 초대시 NOTICE 전달 안되는 오류 수정
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#266 feat: unban banuserlist 추가
  backend/app/src/chat/banuser.entity.ts
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
  backend/app/src/dto/chatBanUser.dto.ts
Labels: 백엔드

#268 BAN UNBAN 기능 추가
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/data/User.dto.ts
  frontend/app/src/hook/useUserQuery.ts
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/MemberListOption.tsx
  frontend/app/src/view/MemberView.tsx
Labels: 프론트엔드

#269 fix: DM 참여자가 나갔을 때 메시지를 다시 받을 수 없는 문제
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/chatroom.entity.ts
Labels: 백엔드

#270 fix: 언밴시 방의 참여자들과 언밴될 사람에게 uid가 unbanned임을 NOTICE
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#272 feat: 친구 게임 초대
  backend/app/src/dto/chatMessage.dto.ts
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/components/chat/ChatListItem.tsx
  frontend/app/src/components/utils/AcceptOrDeny.tsx
  frontend/app/src/components/utils/index.ts
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/JoinedRoomList.tsx
  frontend/app/src/view/MatchHistory.tsx
  frontend/app/src/view/MemberListOption.tsx
Labels: 프론트엔드, 백엔드

#271 fix: 참여할 수 있는 채팅방 리스트에 남의 dm 도 보이는 버그 수정
  backend/app/src/chat/chat.service.ts
  backend/app/src/chat/rooms.controller.ts
Labels: 백엔드

#277 build: 최신 패키지로 업데이트
  backend/app/package-lock.json
  backend/app/package.json
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: 프론트엔드, 백엔드

#281 feat: Main 레이아웃 변경
  frontend/app/src/hook/usePongSocket.ts
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/FriendView.tsx
  frontend/app/src/view/GameGrid.tsx
  frontend/app/src/view/GameOption.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/MatchHistory.tsx
  frontend/app/src/view/MatchingView.tsx
  frontend/app/src/view/UsersPanel.tsx
Labels: 프론트엔드

#282 fix: 프로덕션 빌드 오류수정 및 도커파일 최적화
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/nginx.conf
Labels: ci

#286 fix: DM방에서 나간 초대자가 INVITE_DM을 시도하는 경우 초대자를 강제 참여시킴
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.service.ts
Labels: 백엔드

#290 refactor: showChat및 socket 프롭 드릴링 제거
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/components/chat/ChatInput.stories.tsx
  frontend/app/src/components/chat/ChatInput.tsx
  frontend/app/src/components/chat/MemberList.tsx
  frontend/app/src/components/utils/MainGrid.tsx
  frontend/app/src/components/utils/index.ts
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/hook/index.ts
  frontend/app/src/hook/selectedChatState.ts
  frontend/app/src/router/Login.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatRoomList.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/CreateRoomModal.tsx
  frontend/app/src/view/EnterPwdModal.tsx
  frontend/app/src/view/GameOption.tsx
  frontend/app/src/view/InviteUser.tsx
  frontend/app/src/view/JoinedRoomList.tsx
  frontend/app/src/view/MemberListOption.tsx
  frontend/app/src/view/MemberView.tsx
  frontend/app/src/view/PwdSetModal.tsx
Labels: 프론트엔드, 테스트

#292 fix: 중복로그인 상태에서 채팅방 join 이벤트를 모든 소켓에게 발송
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#293 초기 접속 화면 디자인 변경
  frontend/app/src/App.css
  frontend/app/src/App.tsx
  frontend/app/src/router/Login.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatView.tsx
Labels: 프론트엔드

#297 fix: 접속중이 아닌 유저를 초대할 수 없게 막음
  backend/app/src/chat/chat.gateway.ts
Labels: 백엔드

#299 feat: 머지 과정 충돌 에러 해결
  frontend/app/src/router/Main.tsx
Labels: 프론트엔드

#291 Update status
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/configs/chat-event.constants.ts
  backend/app/src/dto/userStatus.dto.ts
Labels: 프론트엔드, 백엔드

#301 chore: remove unneeded code
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/dto/uid.dto.ts
  backend/app/src/pong/match.gateway.ts
Labels: 백엔드

#300 fix: 채팅방 비밀번호 추가/변경/삭제를 바로 변경
  frontend/app/src/App.tsx
  frontend/app/src/hook/useChatSocket.tsx
  frontend/app/src/router/Login.css
  frontend/app/src/router/Login.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/PwdSetModal.tsx
  frontend/app/src/view/UsersPanel.tsx
Labels: 프론트엔드

#308 feat: 버튼 디자인 및 grid 높이 수정
  frontend/app/src/components/chat/ChatInput.tsx
  frontend/app/src/components/utils/MainGrid.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/GameOption.tsx
  frontend/app/src/view/MemberListOption.tsx
Labels: 프론트엔드

#309 feat: service 파트에서 db 관련 서버에 에러가 출력되지 않고 프론트로 던지게 에러 추가
  backend/app/src/app.controller.ts
  backend/app/src/auth/ft/ft-oauth.service.ts
  backend/app/src/auth/ft/ft.controller.ts
  backend/app/src/auth/two-factor.service.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/pong/match.service.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#310 feat: 접속 상태 실시간 업데이트, 메시지 저장
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/chat/ChatList.stories.tsx
  frontend/app/src/components/chat/ChatList.tsx
  frontend/app/src/components/chat/ChatListItem.tsx
  frontend/app/src/components/profile/Profile.tsx
  frontend/app/src/components/utils/UserStatus.tsx
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/data/User.dto.ts
  frontend/app/src/hook/index.ts
  frontend/app/src/hook/messagesState.ts
  frontend/app/src/hook/onlineState.ts
  frontend/app/src/hook/selectedChatState.ts
  frontend/app/src/hook/useChatSocket.ts
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/ChatView.tsx
  frontend/app/src/view/CreateRoomModal.tsx
Labels: 프론트엔드, 테스트

#311 fix: 같은 사용자가 동시에 퐁 소켓에 연결하는 문제 해결
  backend/app/src/pong/match.gateway.ts
  frontend/app/src/hook/useAuthSocket.ts
Labels: 프론트엔드, 백엔드

#312 feat: 언밴버튼 관리자, 오너만 보이도록, 챗패널 미니멈 하이트 추가
  frontend/app/src/view/ChatPanel.tsx
  frontend/app/src/view/MemberListOption.tsx
Labels: 프론트엔드

#314 전체 프로젝트에 별 배경화면 적용
  frontend/app/src/App.tsx
  frontend/app/src/components/container/Stars.tsx
  frontend/app/src/components/container/index.ts
  frontend/app/src/components/index.ts
  frontend/app/src/data/Chat.dto.ts
  frontend/app/src/router/Login.tsx
  frontend/app/src/view/JoinedRoomList.tsx
Labels: 프론트엔드

#316 fix: 테마가 적용되지 않던 문제 수정
  frontend/app/src/components/container/Stars.tsx
  frontend/app/src/router/Login.tsx
  frontend/app/src/router/Main.tsx
Labels: 프론트엔드

#318 feat: '게임중' 상태변경 이벤트를 채팅소켓으로 전송
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/chat/chat.module.ts
  backend/app/src/chat/chat.service.ts
  backend/app/src/pong/pong.module.ts
  backend/app/src/pong/pong.service.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#319 build: webpack기반의 create-react-app에서 esbuild기반 vite로 툴체인 변경
  frontend/Dockerfile.bind
  frontend/Dockerfile.dev
  frontend/app/.gitignore
  frontend/app/.storybook/main.js
  frontend/app/.storybook/preview.js
  frontend/app/README.md
  frontend/app/index.html
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/main.tsx
  frontend/app/src/router/Login.tsx
  frontend/app/tsconfig.json
  frontend/app/tsconfig.node.json
  frontend/app/vite.config.ts
Labels: 프론트엔드, ci

#323 feat: 디자인 개선
  backend/app/src/configs/pong.config.ts
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/components/container/Stars.tsx
  frontend/app/src/components/utils/MainGrid.tsx
  frontend/app/src/main.css
  frontend/app/src/main.tsx
  frontend/app/src/router/Login.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/GameGrid.tsx
  frontend/app/src/view/GameOption.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/MatchHistory.tsx
  frontend/app/src/view/MatchingView.tsx
  frontend/app/src/view/Pong.tsx
  frontend/app/src/view/RegisterUser.tsx
  frontend/app/src/view/twoFactor.tsx
Labels: 프론트엔드, 백엔드

#327 build: 포매팅 라이브러리 재설치, 실행 오류 해결
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/components/container/Stars.tsx
  frontend/app/src/components/utils/MainGrid.tsx
  frontend/app/src/main.tsx
  frontend/app/src/router/Login.tsx
  frontend/app/src/router/Main.tsx
  frontend/app/src/view/GameView.tsx
  frontend/app/src/view/MatchingView.tsx
  frontend/app/src/view/Pong.tsx
  frontend/app/src/view/twoFactor.tsx
Labels: 프론트엔드

#326 feat: Status 분리 및 로직 살짝 변경
  backend/app/src/pong/pong.service.ts
  backend/app/src/user/gamestatus.enum.ts
  backend/app/src/user/user.entity.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#325 feat: 비번 설정 후 chat me invalidate
  frontend/app/src/view/PwdSetModal.tsx
Labels: 프론트엔드

#328 Revert "feat: Status 분리 및 로직 살짝 변경"
  backend/app/src/pong/pong.service.ts
  backend/app/src/user/gamestatus.enum.ts
  backend/app/src/user/user.entity.ts
  backend/app/src/user/user.service.ts
Labels: 백엔드

#330 feat: 오른쪽 탭 클릭시 user me invalidate
  frontend/app/src/router/Main.tsx
Labels: 프론트엔드

#329 fix: 게임중 연결종료시 오프라인상태로
  backend/app/src/chat/chat.gateway.ts
  backend/app/src/pong/pong.service.ts
Labels: 백엔드
